html, body {
  height: 100%;
  background-image: linear-gradient(to right top, #c94b4b, #b03452, #912355, #6f1855, #4b134f);
  font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
