/* Global variables */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* **** Tooltip **** */
.d3-tip {
  line-height: 1;
  padding: 12px;
  border-radius: 2px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

.d3-tip:after {
  display: inline;
  top: 100%;
  left: 0;
  width: 100%;
  margin: -1px 0 0 0;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC"; 
  position: absolute;
  text-align: center;
}

.fade {
  fill-opacity: 0.1
}


html, body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-size: cover;
}

h1 {
  font-family: ProLight;
  text-transform: uppercase;
}

.top-title {
  padding: 2em 15px;
}

.centered {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

#welcome-info {
  /*	border: 1px solid white;
  */
  padding: 2em;
  color: white;
  font-family: OggRoman;
  font-size: 2em;
}

.btn-big {
  padding: 1.5em 3em;
  background-color: black;
  color: white;
  border-color: transparent;
  text-transform: uppercase;
  font-size: 0.8em;
}
.btn-big:hover {
  cursor: pointer;
}

.filters {
  font-size: 0;
}

.checkbox-button, .checkbox-button__inner {
  position: relative;
  display: inline-block;
}

.checkbox-button__original {
  opacity: 0;
  outline: none;
  position: absolute;
  margin: 0;
  z-index: -1;
}

.checkbox-button__inner {
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-left: 0;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: -2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 0;
}

.checkbox-button:first-child .checkbox-button__inner {
  border-left: 1px solid #dcdfe6;
  border-radius: 4px 0 0 4px;
  box-shadow: none !important;
}

.checkbox-button:last-child .checkbox-button__inner {
  border-radius: 0 4px 4px 0;
}

.checkbox-button.is-checked .checkbox-button__inner {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
  box-shadow: -1px 0 0 0 #8cc5ff;
}
